header#header {
  background-color: $white-color;
  padding: 0.7rem 0;
  position: relative;

  .logo {
    img {
      max-height: 65px;
      max-width: 133px;
      @include media-breakpoint-down(lg) {
        max-height: 55px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100px;
        max-height: 45px;
      }
    }
  }

  .main-menu {
    @include media-breakpoint-up(xl) {
      position: relative;
      z-index: 999;
    }
    list-style-type: none;
    width: 100%;
    display: flex;
    padding-#{$dir}: 0;

    li {
      opacity: 1;
      transition: transform 0.3s, opacity 0.2s 0.1s;
      @include child-delay(1, 9, 0.3);

      a {
        position: relative;
        @include media-breakpoint-up(lg) {
          padding: 0 15px;
        }
        @include media-breakpoint-up(xxl) {
          padding: 0 20px;
        }
        color: $black-color;
        font-weight: 400;
        font-size: 16px;
        @include media-breakpoint-up(xxl) {
          font-size: 18px;
        }

        &:hover {
          color: $main-color;
        }

        &:before {
          @include media-breakpoint-down(lg) {
            display: none;
          }
          transition: all ease-in-out 0.3s;
          position: absolute;
          bottom: -17px;
          #{$dir}: 50%;
          content: '';
          width: 8px;
          height: 8px;
          background-color: $main-color;
          border-radius: 8px;
          display: block;
          transform: translatex(50%);
          filter: drop-shadow(0px 3px 6px #34cfb1);
          opacity: 0;
          visibility: hidden;
        }

        &:hover {
          &:before {
            width: 75%;
            height: 2px;
            bottom: -10px;
            filter: drop-shadow(0px 1px 3px #34cfb1);
            opacity: 1;
            visibility: visible;
          }
        }
      }


      a {
        &.active {
          color: $main-color;

          &:before {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &.custom-dropdown {
        position: relative;

        a {
          svg {
            height: 7px;
            width: auto;
          }
        }

        ul.custom-dropdown-menu {
          @include media-breakpoint-down(lg) {
            position: relative;
            top: 0 !important;
          }
          padding: 5px;

          li {
            overflow: hidden;

            &:not(:last-child) {
              border-bottom: 1px solid $light-gray;
            }

            &:first-child {
              a {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
              }
            }

            &:last-child {
              a {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
              }
            }

            a {
              padding: 7px 10px;
              display: block;

              &:hover {
                background-color: $light-gray;
                // color: ;
              }
            }
          }
        }
      }
    }

    @include media-breakpoint-down(lg) {
      position: absolute;
      display: block;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      top: 100%;
      left: 0;
      right: 0;
      //opacity: 0;
      visibility: hidden;
      //transform: translateY(-10px);
      transition: all ease-in-out 0.4s;
      clip-path: polygon(0 0, 100% 0%, 67% 0, 34% 0);
      z-index: 15;
      li {
        a {
          display: block;
          background-color: $light-gray;
          padding: 10px 15px;
          border-bottom: 1px solid $white;
          font-size: 14px;
        }

        ul.custom-dropdown-menu {
          min-width: 100%;
          padding: 0 !important;
          box-shadow: none !important;
          border-radius: 0 !important;

          li {
            a {
              border-radius: 0 !important;
              padding-#{$dir}: 15px !important;
            }
          }
        }

        &:last-child {
          > a {
            border-bottom: 0;
          }

          ul.custom-dropdown-menu {
            li {
              a {
                font-size: 13px;
              }

              &:last-child {
                a {
                  border-bottom: 0;
                }
              }
            }
          }
        }

        &.custom-dropdown {
          > a {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
      &.active {
        //opacity: 1;
        visibility: visible;
        //transform: translateY(0);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      }
    }
  }

  -webkit-animation: slideUp 0.5s; /* Safari 4.0 - 8.0 */
  animation: slideUp 0.5s;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: $box-shadow;
    -webkit-animation: slideDown 0.5s; /* Safari 4.0 - 8.0 */
    animation: slideDown 0.5s;
  }
}

@keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@keyframes slideUp {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}

//hamburger start
.hamburger {
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  height: 25px;
  position: static;
  z-index: 4;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  @include media-breakpoint-down(sm) {
    height: 22px;
  }

  .hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
    @include media-breakpoint-down(sm) {
      width: 25px;
      .hamburger-inner:before {
        top: -8px;
      }
      .hamburger-inner:after {
        bottom: -8px;
      }
    }
  }
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 100%;
  height: 3px;
  background-color: $second-color;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
  transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
  transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

//second header
.header-top .dropdown-menu.show{
  margin-top: 16px !important;
  @include media-breakpoint-down(sm){
    margin-top: 0 !important;
  }
}
.user-name-right {
  font-weight: 550;
  color: #303030;
}

.header-top {

  width: 100%;
  z-index: 999;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 15px $light;
  top: 0px;

}

.search-header {
  position: relative;
  flex-wrap: nowrap !important;
  &:before {
    content: '';
    width: 15px;
    height: 15px;
    background-image: url(../images/search.svg);
    background-position: center;
    background-size: contain;
    position: absolute;
    z-index: 9;
    background-repeat: no-repeat;
    top: calc(50% - 9px);
    #{$dir}: 11px;

  }

  .form-control {
    padding-inline-start: 17px;
    padding-inline-start: 35px;
    background: $light;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    &::placeholder {
      opacity: 0.47;
      color: #2E2E2E;
      line-height: 3;

    }
    &:focus{
      box-shadow: none;
    }

    &.border {
      border: 1px solid #EBEDF2 !important;
    }
  }

  .btn-search {
    background: $light-blue;
    height: 100%;
    padding: 0px 15px;
    border: none;
    border-radius: 20px 0 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(sm){
      padding: 0px 11px;
    }
  }

}

.link-user-header {
  background: transparent;
  border: none;

  .img-user-header {
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      object-position: top;
      border-radius: 50%;
      @include media-breakpoint-down(sm){
        width: 36px;
        height: 36px;
      }
    }
  }
}
.header-top{
  .logo {
    @include media-breakpoint-down(lg){
      margin-bottom: 10px;
    }
    img {
      max-height: 65px;
      max-width: 133px;
      @include media-breakpoint-down(lg) {
        max-height: 55px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100px;
        max-height: 45px;
      }
    }
  }
  &.fixed{
    position: fixed;
    -webkit-animation: slideDown 0.5s; /* Safari 4.0 - 8.0 */
    animation: slideDown 0.5s;
  }
}
.link-user-header.dropdown-toggle .user-name-header {
  white-space: nowrap;
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  position: relative;
  top: 2px;
  @include media-breakpoint-down(sm){
    font-size: 13px;
  }
}
