body {
  font-family: 'sf-font', sans-serif;
  font-size: $base-font-size;
  line-height: 1.5;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  color: $black-color;
  text-align: #{$dir};

  &.header-is-fixed {
    padding-top: 78px;
    @include media-breakpoint-down(lg) {
      padding-top: 67px;
    }

    &.pages-header-fixed {
      padding-top: 78px;
      @include media-breakpoint-down(lg) {
        padding-top: 67px;
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}

html {
  direction: $bDir;
}

html[dir="rtl"] {
  body {
    font-family: 'sf-font', sans-serif;
  }
}

.container-content {
  width: 96%;
  @include media-breakpoint-down(xxl) {
    width: 95%;
  }
  margin-#{$dir}: auto;
  margin-#{$opDir}: auto;
  position: relative;
  //max-width: 1500px;
  @include media-breakpoint-down(sm) {
    width: 100%;
    padding-#{$dir}: 15px;
    padding-#{$opDir}: 15px;
  }
}

ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  transition: all ease-in-out 0.3s;

  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

button:focus {
  outline: none;
}

.home-video-container {
  position: relative;
  z-index: 5;
  border-radius: 50%;
  width: 290px;
  height: 290px;
  @include media-breakpoint-up(xxl) {
    width: 350px;
    height: 350px;
  }

  &:before {
    content: '';
    display: block;
    background-color: rgba($black, 0.19);
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 6px solid rgba(#fff, 0.19);
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  a {
    transition: all ease 0s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;

    svg {
      transition: all ease-in-out 0.5s;

      path {
        transition: all ease-in-out 0.5s;
      }
    }

    &:hover {
      svg {
        transform: scale(1.2);

        path {
          fill: $main-color;
        }
      }
    }
  }
}

#videoModal {
  .modal-content {
    background-color: transparent;
    border: 0 !important;

    iframe {
      width: 100%;
    }
  }

  .modal-body {
    padding: 0;
  }

  .close {
    outline: none !important;
    float: right;
    font-size: 2.5rem;
    font-weight: 300;
    color: #fff;
    text-shadow: none;
    opacity: 1;
  }

  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 60%;
    }
  }

}

.hero-main-img {
  position: absolute;
  #{$opDir}: 50%;
  top: 50%;
  transform: translate(0, -50%);
  height: 100%;
}

.bubble-container {
  position: absolute;
  top: -100px;
  height: 100px;
  width: 100px;
  left: 50%;
  transform: translateX(-50%);

  span {
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &:nth-child(1) {
      left: 20px;
      background-color: $main-color;
      animation-name: bub1;
    }

    &:nth-child(2) {
      left: 90px;
      background-color: #F4BAC2;
      animation-name: bub2;
      animation-delay: 1s;
      animation-duration: 7s;
    }

    &:nth-child(3) {
      left: 50px;
      background-color: rgba(#546BCC, 50);
      animation-name: bub3;
      animation-delay: 1.5s;
      animation-duration: 5s;
    }

    &:nth-child(4) {
      left: 40px;
      border-color: #929292;
      animation-name: bub4;
      animation-delay: 2s;
      animation-duration: 6s;
    }

    //&:nth-child(4){
    //  left: 70px;
    //  background-color: rgba(#546BCC , 50);
    //}
  }
}

@keyframes bub1 {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.5;
    bottom: 0;

  }
  25% {
    width: 15px;
    height: 15px;
    opacity: 0.8;
    bottom: 25%;
    left: 35px;
  }
  50% {
    width: 25px;
    height: 25px;
    opacity: 1;
    bottom: 50%;
    left: 10px;
  }
  100% {
    width: 5px;
    height: 5px;
    opacity: 0;
    bottom: 120%;
    left: 40px;
  }
}

@keyframes bub2 {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.5;
    bottom: 0;

  }
  25% {
    width: 15px;
    height: 15px;
    opacity: 0.8;
    bottom: 25%;
    left: 80px;
  }
  50% {
    width: 20px;
    height: 20px;
    opacity: 1;
    bottom: 50%;
    left: 90px;
  }
  100% {
    width: 5px;
    height: 5px;
    opacity: 0;
    bottom: 120%;
    left: 80px;
  }
}

@keyframes bub3 {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.5;
    bottom: 0;

  }
  25% {
    width: 15px;
    height: 15px;
    opacity: 0.8;
    bottom: 25%;
    left: 45px;
  }
  50% {
    width: 20px;
    height: 20px;
    opacity: 1;
    bottom: 50%;
    left: 55px;
  }
  100% {
    width: 5px;
    height: 5px;
    opacity: 0;
    bottom: 120%;
    left: 45px;
  }
}

@keyframes bub4 {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.5;
    bottom: 0;

  }
  25% {
    width: 15px;
    height: 15px;
    opacity: 0.8;
    bottom: 25%;
    left: 30px;
  }
  50% {
    width: 10px;
    height: 10px;
    opacity: 1;
    bottom: 50%;
    left: 35px;
  }
  100% {
    width: 5px;
    height: 5px;
    opacity: 0;
    bottom: 120%;
    left: 25px;
  }
}

.hero-content {
  margin: 1.5rem 0;

  h3 {
    font-size: 35px;
    font-weight: 500;
    @include media-breakpoint-up(xxl) {
      font-size: 40px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 25px;
    }

    span {
      display: block;
      font-size: 42px;
      @include media-breakpoint-up(xxl) {
        font-size: 48px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 27px;
      }
    }
  }
}

.list-style-1 {
  li {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    @extend %text-2;
    padding-#{$dir}: 12px;
    position: relative;
    color: $gray-color;
    text-align: #{$dir};

    &:before {
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      content: '';
      #{$dir}: 0;
      top: 0.5em;
      background-color: rgba($gray-color, 0.18);
    }
  }
}

.new-service-link {
  display: block;
  position: relative;

  img.new-service-img {
    width: 100%;
  }

  img.new-serve-bubble {
    width: 60px;
    height: auto;
    @include media-breakpoint-up(xxl) {
      width: 75px;
    }
    transition: visibility ease-in-out 0.5s !important;
    position: absolute;
    top: 10px;
    #{$opDir}: 25px;
    z-index: 3;
    animation-name: servicePup;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    visibility: hidden;
  }

  h4 {
    color: $white-color;
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.8;
    text-align: center;
    z-index: 3;
    top: 50%;
    #{$dir}: 50%;
    transform: translate(50%, -30%);
    @include media-breakpoint-down(lg) {
      font-size: 27px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 23px;
    }
  }

  &:hover {
    .new-serve-bubble {
      visibility: visible;
    }
  }
}

@keyframes servicePup {
  0% {
    transform: scale(1) rotate(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2) rotate(-10deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0);;
    opacity: 0.5;
  }
}

.our-strategy-section {
  background: linear-gradient(#eef2f5 0%, #f5f6f9 35.13%, #fff 100%);
}

.navigation {
  button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    @include media-breakpoint-down(sm) {
      width: 35px;
      height: 35px;
    }
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.3s;

    svg {
      height: 1.1em;
      width: auto;

      path {
        stroke: $main-color;
        transition: all ease-in-out 0.3s;
      }
    }

    &:hover {
      background-color: $main-color;

      svg {
        path {
          stroke: $white-color;
        }
      }
    }

    &.swiper-button-disabled {
      opacity: 0.8;
    }
  }
}

.strategy-slider {
  .strategy-slider-link {
    padding: 10px;
    @extend %border-radius-sm;
    background: $white-color;
    display: block;
    height: 100%;
    box-shadow: 0px 41px 33px rgba(0, 0, 0, 0.02);

    &:hover {
      .strategy-slider-img {
        transform: scale(1.15);
      }
    }
  }

  .strategy-slider-text {
    color: #676565;
    font-weight: 500;
    font-size: 14px;
    @include media-breakpoint-up(xxl) {
      font-size: 16px;
    }
  }
}

.strategy-slider-img {
  transition: all ease-in-out 0.5s;
  width: 120px;
  height: 120px;
  @include media-breakpoint-up(xxl) {
    width: 140px;
    height: 140px;
  }
  background-color: #FCFCFC;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  img {
    max-width: 55%;
    max-height: 55%;
    width: auto;
    height: auto;
  }
}

.small-main-title {
  @extend %text-1;
  font-weight: 500;
  text-align: center;
  color: $main-color;
}

.main-title {
  @extend %title-2;
  text-align: center;
  display: inline-block;
  font-weight: 500;
  padding: 0 40px;
  position: relative;
  color: $blue-color;
  @include media-breakpoint-down(sm) {
    padding: 0 23px;;
  }

  &:before {
    position: absolute;
    #{$dir}: 0;
    content: '';
    width: 25px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='23' viewBox='0 0 25 23'%3E%3Cg id='Group_11152' data-name='Group 11152' transform='translate(0.222)'%3E%3Crect id='Rectangle_207' data-name='Rectangle 207' width='5' height='23' transform='translate(5.778)' fill='%23546bcc'/%3E%3Crect id='Rectangle_208' data-name='Rectangle 208' width='5' height='10' transform='translate(12.778 13)' fill='%2341bcd0'/%3E%3Crect id='Rectangle_210' data-name='Rectangle 210' width='5' height='5' transform='translate(-0.222 18)' fill='%23f4bac2'/%3E%3Crect id='Rectangle_209' data-name='Rectangle 209' width='5' height='23' transform='translate(19.778)' fill='%23929292'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    top: 9px;
    @include media-breakpoint-down(sm) {
      width: 18px;
      height: 16px;
      top: 5px;
    }
  }

  &:after {
    position: absolute;
    #{$opDir}: 0;
    content: '';
    width: 25px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='23' viewBox='0 0 25 23'%3E%3Cg id='Group_11153' data-name='Group 11153' transform='translate(-0.222)'%3E%3Crect id='Rectangle_207' data-name='Rectangle 207' width='5' height='23' transform='translate(14.222)' fill='%23546bcc'/%3E%3Crect id='Rectangle_208' data-name='Rectangle 208' width='5' height='10' transform='translate(7.222 13)' fill='%2341bcd0'/%3E%3Crect id='Rectangle_210' data-name='Rectangle 210' width='5' height='5' transform='translate(20.222 18)' fill='%23f4bac2'/%3E%3Crect id='Rectangle_209' data-name='Rectangle 209' width='5' height='23' transform='translate(0.222)' fill='%23929292'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    top: 9px;
    @include media-breakpoint-down(sm) {
      width: 18px;
      height: 16px;
      top: 5px;
    }
  }
}

.home-about-container {
  margin-top: 80px;
  @include media-breakpoint-down(lg) {
    margin-top: 0;
  }

  .about-home-img {
    border-radius: 53px 268px 268px 268px;
  }
}

.services-section, .about-section {
  padding-top: 120px;
  @include media-breakpoint-down(lg) {
    padding-top: 80px;
  }
}

.sec-pb {
  padding-bottom: 80px;
}

.sec-pt {
  padding-top: 80px;
}

.sec-mb {
  margin-bottom: 80px;
  @include media-breakpoint-down(lg) {
    margin-bottom: 40px;
  }
}

.about-content-container {
  position: absolute;
  $dir: 0;
  top: 50%;
  transform: translateY(-50%);
  min-height: 110%;
  background: $main-color;
  width: 55%;
  display: flex;
  align-items: center;
  border-top-right-radius: 160px;
  border-top-left-radius: 160px;
  border-bottom-right-radius: 160px;
  padding: 1rem;
  @include media-breakpoint-down(lg) {
    position: static;
    transform: translateY(0);
    width: 100%;
    border-radius: 15px;
  }

  .about-content {
    color: $white-color;

    p {
      @extend %text-1;
      line-height: 1.7;
      opacity: 0.8;
    }

    @include media-breakpoint-up(lg) {
      padding: 40px 50px;
    }
  }
}

.title-desc {
  text-align: center;
  color: rgba(#4D4D4D, 0.7);
  @extend %text-3;
}

.services-home-card {
  @include media-breakpoint-down(md) {
    max-width: 300px;
    margin: 0 auto;
  }
  height: 100%;
  background-color: $white-color;
  filter: drop-shadow(0px 12px 24px rgba(76, 89, 253, 0.06));
  padding: 1.5rem 2rem;

  .strategy-slider-img {
    border: 2px solid #F8F8F8;
    margin: 0 auto;
  }

  .services-content {
    text-align: center;

    h3 {
      color: #303030;
      @extend %text-2;
      font-weight: 500;
    }

    p {
      color: rgba(#929292, 0.7);
      @extend %text-4;
    }
  }
}

.services-home-container {
  @include media-breakpoint-up(lg) {
    background: url(../images/services-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 38%;
  }
}

.steps-outer-container {
  .step-num {
    font-size: 75px;
    color: rgba(#546BCC, 0.23);
    line-height: 1;
    @include media-breakpoint-down(lg) {
      font-size: 50px;
    }
    @include media-breakpoint-down(md) {
      text-align: center !important;
      font-size: 40px;
      margin-bottom: 10px;
    }
  }

  .steps-inner-container {
    position: relative;
    background-color: rgba(#546BCC, 0.05);
    border-radius: 500px;
    @include media-breakpoint-down(md) {
      &:before {
        display: none !important;
      }
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      max-width: 400px;
      margin: 0 auto;
      padding: 15px;
      text-align: center;
      h4 {
        margin-top: 1rem;
      }
    }
    padding: 10px 25px;

    img {
      width: 100%;
    }

    h4 {
      @extend %text-2;
      font-weight: 500;
    }

    p {
      color: #8E8E8E;
      @extend %text-4;
    }
  }
}

.main-steps-container {
  .steps-outer-container {

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    &:first-child {
      .steps-inner-container {
        &:before {
          content: '';
          position: absolute;
          display: block;
          #{$opDir}: 33%;
          width: 69%;
          top: 95%;
          height: 364px;
          background: url(../images/steps/line1.svg) no-repeat;
          background-size: contain;
        }
      }
    }

    &:nth-child(2) {
      .step-num {
        text-align: $opDir;
      }

      .steps-inner-container {
        &:before {
          content: '';
          position: absolute;
          display: block;
          #{$opDir}: -1%;
          width: 26%;
          top: 100%;
          height: 283px;
          background: url(../images/steps/line2.svg) no-repeat;
          background-size: contain;
        }

        @include media-breakpoint-up(md) {
          .col-md-4 {
            order: 2;
          }
        }
      }
    }
  }
}

.need-help-section {
  background-color: $second-color;
  color: $white-color;

  .need-help-content {
    padding: 80px 0;
    @include media-breakpoint-down(xl) {
      padding: 40px 0;
      text-align: center;
    }
  }

  h3 {
    font-size: 43px;
    font-weight: 500;
    @include media-breakpoint-up(xxl) {
      font-size: 46px;
    }
    @include media-breakpoint-down(xl) {
      font-size: 35px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 28px;
    }
  }

  h4 {
    font-size: 24px;
    @include media-breakpoint-up(xxl) {
      font-size: 27px;
    }
    @include media-breakpoint-down(xl) {
      font-size: 20px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
    font-weight: 500;
  }

  p {
    @extend %text-4;
    color: rgba($white-color, 0.7);
  }
}

.need-help-img-container {
  position: relative;
  #{$opDir}: 0%;
  width: 100%;
  bottom: 0;

  .help-overly-img {
    position: absolute;
    height: 110%;
    bottom: 0;
    width: 100%;
  }

  .need-h-img {
    position: absolute;
    height: 120%;
    bottom: -10%;
    left: 17%;
  }
}

.price-card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.06);
  border-radius: 10px;

  .plan-header {
    display: flex;
    width: 90%;
    margin: 0 auto;
    background-color: $second-color;
    color: $white-color;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    justify-content: center;
    padding: 18px 5px;

    h3 {
      @extend %text-2;
      text-align: center;
      font-weight: 500;
    }
  }

  .plan-body {
    padding: 1.5rem;

    .price {
      padding: 0 15px;
      text-align: center;
      color: $blue-color;

      &.monthly {
        position: relative;

        &:before {
          position: absolute;
          #{$opDir}: 0;
          display: block;
          content: '';
          height: 100%;
          width: 1px;
          background-color: rgba(#707070, 0.17);
        }
      }

      h4 {
        font-size: 33px;
        font-weight: 500;
        @include media-breakpoint-down(xl) {
          font-size: 30px;
        }

        span {
          font-size: 0.7em;
          font-weight: 400;
        }
      }

      p {
        font-size: 12px;
      }
    }

    h5 {
      @extend %text-2;
      color: $black-color;
      margin-bottom: 0.7rem;
    }

    ul.plan-list {
      li {
        @extend %text-3;
        color: $gray-color;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  &.plan-1 {
    @include media-breakpoint-up(lg) {
      margin-top: 80px;
    }
  }

  &.plan-2 {
    .plan-header {
      background-color: $light-blue;
    }

    .plan-body {
      .price {
        color: $light-blue;
      }
    }
  }

  &.plan-3 {
    .plan-header {
      background-color: $main-color;
    }

    .plan-body {
      .price {
        color: $main-color;
      }
    }

    @include media-breakpoint-up(lg) {
      margin-top: 80px;
    }
  }
}

.partner-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #FCFCFC;
  border-radius: 17px;
  transition: all ease-in-out 0.4s;
  @include media-breakpoint-down(sm) {
    border-radius: 12px;
  }
  @include media-breakpoint-down(md) {
    height: 150px;
  }
  @include media-breakpoint-down(sm) {
    height: 120px;
  }

  img {
    filter: grayscale(100%);
    max-height: 70%;
    max-width: 67%;
    transition: all ease-in-out 0.4s;
    @include media-breakpoint-down(sm) {
      filter: grayscale(0);
    }
  }

  &:hover {
    box-shadow: 0px 18px 21px rgba(0, 0, 0, 0.04);

    img {
      filter: grayscale(0);
    }
  }
}

#goUp {
  position: fixed;
  padding-bottom: 3px;
  left: 5%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 0;
  z-index: 20;
  background-color: #F4BAC2;
  transition: box-shadow ease-in-out 0.4s;
  display: none;
  @include media-breakpoint-down(sm) {
    width: 40px;
    height: 40px;
    bottom: 5%
  }

  svg {
    width: 1.35em;
    height: auto;
  }

  &:hover {
    box-shadow: (0px 20px 21px rgba(244, 186, 194, 0.36));
  }
}

.news-litter-section {
  background: url(../images/news-bg.jpg) no-repeat;
  background-size: cover;
  color: $white-color;
  @include media-breakpoint-down(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  h3 {
    @extend %title-2;
  }

  p {
    @extend %text-2;
  }
}

.news-input {
  position: relative;

  input {
    width: 100%;
    padding: 12px 45px 12px 10px;
    @include media-breakpoint-down(sm) {
      padding-top: 9px;
      padding-bottom: 9px;
    }
    direction: $bDir;

    &::placeholder {
      line-height: 2;
      color: #C9C9C9
    }

    @extend %text-3;
    border-radius: 70px;
    border: 1px solid transparent;
    outline: 0;

    &:focus {
      outline: 0;
      border-color: $main-color;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    #{$dir}: 15px;
    transform: translateY(-50%);
  }
}

.sub-page-header {
  img {
    width: 100%;
    object-fit: cover;
    max-height: 22vw;
    @include media-breakpoint-down(sm) {
      max-height: 29vw;
    }

  }

  .sup-page-title {
    display: inline-block;
    padding: 50px 30px;
    background: linear-gradient(rgba(65, 188, 208, 0) 0%, #644694 100%);
    border-bottom: 9px solid $main-color;
    position: absolute;
    #{$dir}: 15px;
    bottom: -20px;
    @include media-breakpoint-down(lg) {
      padding: 40px 30px;
      border-bottom: 7px solid $main-color;
      bottom: -16px;
    }
    @include media-breakpoint-down(md) {
      padding: 25px 15px;
      border-bottom: 5px solid $main-color;
    }

    h3 {
      font-size: 42px;
      @include media-breakpoint-up(xxl) {
        font-size: 47px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 35px;
      }
      @include media-breakpoint-down(md) {
        font-size: 27px;
      }
      color: $white-color;
    }
  }
}

.sup-main-title {
  p {
    font-weight: 500;
    @extend %text-2;
    padding: 0 40px;
    color: $blue-color;
    @include media-breakpoint-down(sm) {
      padding: 0 23px;;
    }
  }

  h3 {
    @extend %title-2;
    display: inline-block;
    font-weight: 500;
    padding: 0 40px;
    position: relative;
    @include media-breakpoint-down(sm) {
      padding: 0 23px;;
    }

    &:before {
      position: absolute;
      #{$dir}: 0;
      content: '';
      width: 25px;
      height: 23px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='23' viewBox='0 0 25 23'%3E%3Cg id='Group_11152' data-name='Group 11152' transform='translate(0.222)'%3E%3Crect id='Rectangle_207' data-name='Rectangle 207' width='5' height='23' transform='translate(5.778)' fill='%23546bcc'/%3E%3Crect id='Rectangle_208' data-name='Rectangle 208' width='5' height='10' transform='translate(12.778 13)' fill='%2341bcd0'/%3E%3Crect id='Rectangle_210' data-name='Rectangle 210' width='5' height='5' transform='translate(-0.222 18)' fill='%23f4bac2'/%3E%3Crect id='Rectangle_209' data-name='Rectangle 209' width='5' height='23' transform='translate(19.778)' fill='%23929292'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      top: 7px;
      @include media-breakpoint-down(sm) {
        width: 18px;
        height: 16px;
        top: 4px;
      }
    }

  }
}

.sub-header {
  p {
    @extend %text-4;
  }
}

.sup-page-title2 {
  background: rgb(0, 212, 255);
  background: linear-gradient(149deg, rgba(0, 212, 255, 0) 0%, rgba(100, 70, 148, 1) 55%, rgba(100, 70, 148, 1) 100%);
  margin-top: -60px;
  position: relative;
  padding: 30px 0;
  border-bottom: 9px solid $main-color;
  @include media-breakpoint-down(lg) {
    border-bottom: 7px solid $main-color;
    padding: 30px 0;
    margin-top: -55px;
  }
  @include media-breakpoint-down(md) {
    border-bottom: 5px solid $main-color;
    padding: 20px 0;
    margin-top: -40px;
  }

  h3 {
    font-size: 42px;
    @include media-breakpoint-up(xxl) {
      font-size: 47px;
    }
    @include media-breakpoint-down(lg) {
      font-size: 35px;
    }
    @include media-breakpoint-down(md) {
      font-size: 27px;
    }
    color: $white-color;

  }
}

.ask-support-container {
  background-color: $second-color;
  padding: 0 10px 0 20px;
  border-top-#{$dir}-radius: 20px;
  border-bottom-#{$dir}-radius: 300px;
  border-bottom-#{$opDir}-radius: 20px;
  border-top-#{$opDir}-radius: 300px;
  @include media-breakpoint-down(lg) {
    background-color: rgba($second-color, 0.9);
    border-radius: 15px;
    text-align: center;
    padding: 1rem;
  }

  img {
    width: 180px;
    height: auto;
    @include media-breakpoint-up(lg) {
      margin-top: -10px;
    }
    @include media-breakpoint-up(xxl) {
      width: 200px;
    }
    @include media-breakpoint-down(sm) {
      width: 150px;
    }
  }

  p {
    @extend %text-1;
    color: rgba(#FFFFFF, 0.85);
    padding-#{$opDir}: 22%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include media-breakpoint-down(lg) {
      padding-#{$opDir}: 0;
    }
  }
}

.form-card-1 {
  border-top: 12px solid $light-blue !important;
  padding: 60px 20px;
  background-color: #F1F4F5;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #EEEEEE;
}

.dropdown-toggle::after {
  border: 0 !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.664' height='6.746' viewBox='0 0 10.664 6.746'%3E%3Cpath id='Path_14025' data-name='Path 14025' d='M16558.041,154.866l-3.918,3.918-3.918-3.918' transform='translate(-16548.791 -153.451)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-width='2'/%3E%3C/svg%3E%0A");
  width: 5px;
  height: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 7px;
  transition: all ease-in-out 0.4s;
}

.dropdown-toggle.show::after {
  transform: rotate(180deg);
}

.footer-link-list.list-syle-2 {
  li {
    &:before {
      background-color: $pink-color;
      @extend %text-1;
    }
  }
}

.fw-500 {
  font-weight: 500;
}

.h-lg-100vh {
  @include media-breakpoint-up(lg) {
    min-height: 100vh;
  }
}

.aut-logo {
  padding-top: 20px;

  img {
    max-height: 70px;
    max-width: 130px;
  }
}

.aut-page {
  @include media-breakpoint-up(lg) {
    height: 100vh;
  }
}

.second-link {
  color: $second-color;

  &:hover {
    color: $main-color;
  }
}

.main-link {
  color: $main-color;
  text-decoration: underline;

  &:hover {
    color: $second-color;
  }
}

.back-link {
  color: $black-color;

  &:hover {
    color: $main-color;
  }
}

.login-social-list {
  a {
    display: flex;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $white-color;
    align-items: center;
    justify-content: center;

    img {
      max-width: 55%;
      min-height: 55%;
    }

    &:hover {
      box-shadow: $box-shadow;
    }
  }
}

.plan-preparation-hero {
  position: relative;

  img {
    min-height: 270px;
    object-fit: cover;
  }

  .plan-preparation-content {
    position: absolute;
    width: 100%;
    top: 50%;
    color: $white-color;
    transform: translateY(-50%);
    z-index: 2;
  }
}

.sub-header {
  .row {
    align-items: center;
  }
}

.plan-step-box {
  text-align: center;

  .plan-step-number {
    font-size: 27px;
    font-weight: 500;
    color: $gray-color;
    margin-bottom: 40px;
    position: relative;
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      font-size: 23px;
    }

    span {
      opacity: 0;
      transition: all ease-in-out .4s;
    }

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 5px;
      background-color: #EEEEEE;
      bottom: -5px;
      z-index: 1;
    }

    &:after {
      position: absolute;
      z-index: 2;
      content: '';
      display: block;
      width: 50%;
      height: 5px;
      background-color: $main-color;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      transition: all ease-in-out 0.4s;
      opacity: 0;
    }
  }

  p {
    @extend %text-2;
    font-weight: 500;
    margin-top: 1.3rem;
  }

  .plan-step-box-content {
    padding: 15px;
    @include media-breakpoint-down(sm) {
      padding: 5px;
    }

    .plan-step-img {
      margin: 0 auto;
      display: flex;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      background-color: #F9F9F9;
      border: 8px solid transparent;
      transition: all ease-in-out 0.4s;
      @include media-breakpoint-down(sm) {
        width: 120px;
        height: 120px;
        border: 4px solid transparent;
      }

      img {
        max-width: 50%;
        max-height: 50%;
      }
    }
  }
}

#plan_slider {
  .swiper-slide-active {
    .plan-step-box {
      .plan-step-number {
        span {
          opacity: 1;
        }

        &:after {
          opacity: 1;
        }
      }
    }

    .plan-step-box-content {
      .plan-step-img {
        border-color: $main-color;
        box-shadow: (0px 12px 25px rgba(52, 207, 177, 0.14));
      }
    }
  }
}

.service-request-section {
  @include media-breakpoint-down(lg) {
    background-color: $light-gray;
  }

  .service-request-container {
    position: relative;

    img {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    .service-request-content {
      @include media-breakpoint-up(lg) {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        z-index: 2;
      }
    }
  }
}

//upload image
.upload-img {
  overflow: hidden;
  span {
    transition: all ease-in-out 0.3s;
  }

  &:hover {
    span {
      color: #fff !important;
    }
  }

  .parsley-errors-list {
    bottom: -28px;
    padding: 0;

    &.filled + img {
      border: 1px solid $red-color;
    }
  }

  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  border: 1px dashed #dbdbdb;

  &.h-100px {
    height: 100px;
  }

  &.small {
    width: 72px;
    height: 65px;

    &.uploded {

      .labelfile.center {

        right: 3px;
        bottom: 3px;
        width: 25px;
        height: 25px;

        svg {
          width: 14px !important;
          height: 15px !important;
        }
      }
    }

    svg {
      width: 30px;
    }
  }

  &.br-r {
    width: 68px;
    height: 68px;
    border-radius: 50%;

    img {
      border-radius: 50%;
      width: 67px;
      height: 67px;
      object-fit: cover;
      cursor: pointer;
      border: 1px solid #ccc;
    }

    &:before {
      opacity: 0;
      display: none;
    }

  }

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.04;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  &:hover:before {
    opacity: 0.6;
  }

  .labelfile {
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 9;
    opacity: 1;

    &.center {
      padding: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: auto;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      bottom: auto;
    }
  }

  input {
    position: absolute;
    z-index: -9;
    opacity: 0;
  }

  img {
    object-fit: cover;
    object-position: center;
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }

  &.uploded {
    .labelfile.center {
      span {
        display: none !important;
      }

      right: 10px;
      bottom: -10px;
      margin: 0 !important;
      text-align: right;
      width: 40px;
      height: 40px;
      border: 1px solid #f5f5f5;
      display: flex;
      top: auto;
      left: auto;
      align-content: center;
      justify-content: center;
      align-items: center;
      background: rgba($light-blue, 0.8);
      border-radius: 50%;

      svg {
        width: 25px !important;
        height: 25px !important;

        path {
          fill: #fff;
        }
      }
    }
  }
}

.form-card-2 {
  padding: 40px 20px;
  background-color: #F1F4F5;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #EEEEEE;
  @include media-breakpoint-down(sm) {
    padding: 30px 10px;
  }
}

.card-2-header {
  background-color: $blue-color;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.upload-img-container {
  background-color: $white;
  padding: 0.5rem;
  border: 1px solid #EBEDF2;
  border-radius: 10px;
}

.multiple-select {
  position: relative;

  .dropdown-toggle:after {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
    #{$opDir}: 6px;
    margin-top: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37.501' height='37.501' viewBox='0 0 37.501 37.501'%3E%3Cg id='Group_14062' data-name='Group 14062' transform='translate(-285.467 -1118.397)'%3E%3Cpath id='Path_1161' data-name='Path 1161' d='M18.751,0A18.751,18.751,0,1,1,0,18.751,18.751,18.751,0,0,1,18.751,0Z' transform='translate(285.467 1118.397)' fill='%2341bcd0'/%3E%3Cpath id='Path_13969' data-name='Path 13969' d='M5.48-5.447H1.157v4.324H-1.112V-5.447H-5.458v-2.28h4.346v-4.346H1.157v4.346H5.48Z' transform='translate(304.206 1143.746)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
  }

  .dropdown-toggle.show:after {
    transform: translateY(-50%) rotate(135deg);
  }
}

.input-upload-relative {
  input {
    border: 0 !important;
  }

  .main-btn {
    height: 35px;
    font-weight: normal;
    @extend %text-4;
    position: absolute;
    #{$opDir}: 7px;
    top: 7px;
  }

  label {
    position: absolute;
    background: #fff;
    margin: 0;
    z-index: 999;
    opacity: 1;
    border-radius: 75px;
    height: 49px;

    > span {
      height: 100%;
    }
  }
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: $main-color;
}

.bootstrap-select input[type='search'] {
  max-height: 40px;
}

.form-switch .form-check-input {
  width: 50px;
  cursor: pointer;
  border: 1px solid #EBEDF2;
}

.form-switch .form-check-input {
  background-color: #eee;

  &:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.368' height='22.368' viewBox='0 0 22.368 22.368'%3E%3Cg id='Group_14062' data-name='Group 14062' transform='translate(-931.995 -2603.316)'%3E%3Cpath id='Path_13971' data-name='Path 13971' d='M11.184,0A11.184,11.184,0,1,1,0,11.184,11.184,11.184,0,0,1,11.184,0Z' transform='translate(931.995 2603.316)' fill='%23929292'/%3E%3Cline id='Line_44' data-name='Line 44' x1='7' y2='7' transform='translate(939.5 2611)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='Line_45' data-name='Line 45' x2='7' y2='7' transform='translate(939.5 2611)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
  }

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.368' height='22.368' viewBox='0 0 22.368 22.368'%3E%3Cg id='Group_14062' data-name='Group 14062' transform='translate(-931.995 -2603.316)'%3E%3Cpath id='Path_13971' data-name='Path 13971' d='M11.184,0A11.184,11.184,0,1,1,0,11.184,11.184,11.184,0,0,1,11.184,0Z' transform='translate(931.995 2603.316)' fill='%23929292'/%3E%3Cline id='Line_44' data-name='Line 44' x1='7' y2='7' transform='translate(939.5 2611)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='Line_45' data-name='Line 45' x2='7' y2='7' transform='translate(939.5 2611)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.form-switch .form-check-input:checked {
  background-color: $white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.6' height='24.6' viewBox='0 0 24.6 24.6'%3E%3Cg id='Group_14063' data-name='Group 14063' transform='translate(-38.601 -1.7)'%3E%3Cpath id='Path_13971' data-name='Path 13971' d='M12.3,0A12.3,12.3,0,1,1,0,12.3,12.3,12.3,0,0,1,12.3,0Z' transform='translate(38.601 1.7)' fill='%2341bcd0'/%3E%3Cpath id='Path_13972' data-name='Path 13972' d='M14002.519,2271.936l3.873,3.873,8.12-8.12' transform='translate(-13957.615 -2257.526)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.add-team-card {
  overflow: hidden;
  background-color: $white-color;
  @extend %border-radius-lg;
  border: 1px solid #EBEDF2;
}

.next-btn {
  position: relative;
  min-width: 150px;
  justify-content: center;

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    #{$opDir}: 15px;

    path {
      transition: all ease-in-out 0.3s;
    }
  }

  &:hover {
    svg {
      path {
        stroke: $second-color;
      }
    }
  }
}

.collapse-card {
  border-radius: 0;
  border: 0;
  border-top: 1px solid #F0F2F7;
}

.form label.text-3 {
  @extend %text-3;
}

.team-members span {
  font-size: 12px;
}

.team-form-container {
  background-color: #FBFBFB;
  border-radius: 4px;
  padding: 0.75rem 0.5rem;
  position: relative;
}

.team-delete {
  position: absolute;
  top: 0.5rem;
  z-index: 3;
  #{$opDir}: 0.5rem;

  svg path {
    transition: all ease-in-out 0.3s;
  }

  &:hover {
    path {
      fill: $red-color;
    }
  }
}

#stages_slider {
  width: 100%;

  .swiper-slide {
    width: 200px;
    @include media-breakpoint-down(lg) {
      width: 180px;
    }
    @include media-breakpoint-down(sm) {
      width: 150px;
    }
  }
}

.second-container {
  @include media-breakpoint-between(md, xxl) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.stage-link {
  //text-align: center;
  @include oneline();
  display: block;
  border-radius: 100px;
  background-color: $light-gray;
  color: $black-color;
  @extend %text-4;
  padding: 12px 30px;
  @include media-breakpoint-down(sm) {
    padding: 10px 15px;
  }
  font-weight: 500;
  border: 1px solid $light-gray;

  &:hover {
    color: $black-color;
    border-color: $main-color;
  }

  span {
    font-weight: 400;
  }

  &.main-stage-link {
    @extend %text-3;
    text-align: center;
  }

  &.active {
    background-color: $main-color;
    color: $white-color;
  }
}

.tables-body {
  background-color: $white-color;
  border-radius: 5px;
  padding: 5px;

  table {
    margin-bottom: 1.5rem;
  }
}

.table-color2 {
  th {
    background-color: #F4BAC2;
    font-size: 14px;
  }
}

.table-color1 {
  th {
    background-color: #DFEEEC;
    font-size: 14px;
  }
}

.light-second-bg {
  background-color: $light-second !important;
}

.short-link-container {
  a {
    position: relative;
    padding: 8px 20px;
    display: inline-block;
    padding-#{$dir}: 33px;
    background: $white-color;
    border-radius: 70px;
    color: $gray-color;
    white-space: nowrap;
    @extend %text-4;

    &:before {
      position: absolute;
      #{$dir}: 13px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.309' height='10.415' viewBox='0 0 12.309 10.415'%3E%3Cg id='editor-distractionfree' transform='translate(0 0)'%3E%3Cpath id='Shape' d='M12.309,10.415H9.231l.962-.93L8.462,6.7l2.885,1.674.962-.93v2.975Zm-9.232,0H0V7.439l.962.93L3.847,6.7,2.116,9.485l.96.929ZM8.462,6.7H3.847V3.72H8.462V6.695Zm0-2.977h0L10.193.93,9.231,0h3.078V2.975l-.962-.929Zm-4.621,0L.962,2.046,0,2.975V0H3.077L2.116.93,3.845,3.717Z' transform='translate(0 0)' fill='%239e9e9e'/%3E%3C/g%3E%3C/svg%3E%0A");
      width: 12px;
      height: 10px;
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      content: '';
    }

    &:hover {
      color: $light-blue;
      box-shadow: $box-shadow-sm;
    }
  }
}

.card-3 {
  border-radius: 5px;
  background-color: $light-second;
}

.back-btn {
  box-shadow: none;

  &:focus {
    box-shadow: none;

  }

  position: absolute;
  #{$opDir}: 10px;
  top: 50%;
  transform: translateY(-50%);

  svg {
    height: 12px;
    width: auto;
  }
}

.help-container {
  .help-box {
    margin-top: 0.75rem;
    display: block;
    background-color: $white;
    padding: 0.7rem;
    @extend %border-radius-lg;
    color: $black-color;

    &:hover {
      box-shadow: $box-shadow;
    }

    .help-text {
      font-size: 12px;
      @include oneline1(2);
    }
  }

  .help-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.clarification-modal {
  .clarification-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
}
.sup-page-container{
  background-color: #F5F6FF;
}
.sub-header{
  .bg-light{
    background-color: #fcfcfc !important;
  }
}
.bootstrap-select .dropdown-menu li a span.text{
  font-size: 15px;
}
.consultation-card{
  img{
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  h3{
    @include oneline1(1);
    line-height: 1.5;
  }
}
.img-br-60 {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
}
.img-br-50 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
}
.content-user{
  p{
    color: #7d7d7d;
  }
}
.bg-light-white {
  background-color: #FCFCFC;
}
.card-2{
  background-color: rgba($white-color, 0.77);
}
.pagination {
  .page-link{
    border: 0;
    color: $main-color;
  }
  .page-item{
    &:not(.previous-page, .next-pge){
      .page-link{
        border-radius: 50%;
        background-color: $white-color;
        height: 35px;
        width: 35px;
        text-align: center;
      }
    }
  }

  .page-item.active .page-link{
    background-color: $main-color;
    color: $white-color;
  }
}
.page-link:hover{
  background-color: transparent;
  color: $second-color;
}
.team-link-modal{
  background-color: #F1F4F5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  &:hover{
    background: $second-color;
  }
}
.chose-plan-container{
  input{
    display: none;
    &:checked + label{
      border-color: $second-color;
    }
  }
  .strategy-slider-link{
    transition: border-color ease-in-out 0.3s;
    border: 2px solid transparent;
    display: block;
    min-height: 350px;
    cursor: pointer;
    @include media-breakpoint-down(md){
      min-height: 250px;
    }
  }
}
